<!DOCTYPE html>
<html lang="en">

{% extends "shared/_layout.html" %}
{% block title %} Motivation {% endblock %}

{% block main_content %}
<body>

<h1><b> Project Motivation </b></h1>

Twitter is an amazing social media platform with over 1.3 billion accounts created as of 2020.
However, in recent years, a few problems with the platform have been highlighted, including:

<ul>
    <li><b> Bots and Machine generated Tweets influencing public opinion </b></li>
    <p> According to <a href="http://science.sciencemag.org/cgi/doi/10.1126/science.aap9559"> a 2018 MIT study</a>,
        Fake news reaches more people and travels faster than the truth on Twitter. We saw the effects of this
        phenomena quite strongly during the 2016 US Election, where
    </p>
    <li><b> Twitter becoming an echo chamber </b></li>
    <p> Indeed, one big problem with any social media platform (even YouTube) is that the search algorithms are
        engineered to show you content that appeals to you. Appealing content is more likely to be in line with your
        own thoughts and beliefs.
    </p>

    <p> While on the surface this phenomena might be a good thing, it also means that no matter how ridiculous an idea
        you
        might search for on social media, chances are you'll be introduced to a group of likeminded people or
        content that will serve to further reinforce your opinions and beliefs. This can lead to the rise of
        conspiriacy theorists, as well as radical figures. </p>
    <li><b> An increasing number of throwaway accounts, burners, etc </b></li>
    <p> Lorem ipsum con dolor </p>
</ul>

</body>

{% endblock %}





</html>