<!DOCTYPE html>
<html lang="en">

{% extends "shared/_layout.html" %}

{% block title %} Search {% endblock %}

<body>

{% block main_content %}
<h1> Twitter Feed </h1>
<p> Welcome to a more responsible way of navigating Twitter! </p>
<form action="#" method="POST">
    <p><b> Search: </b><label>
        <input type = "text" name = "search_term" />
    </label></p>
    <p><b> How many Tweets (<= 100) would you like to see? </b><label>
        <input type = "number" name = "quantity" />
    </label></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>

{% endblock %}

</body>
</html>
